<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Tabulator</title>
    <link rel="stylesheet" type="text/css" href="/style.css" >
  </head>
  <body class = "full-screen flex-center">
    <div id="main-div">
    <h1 class="text-xl">Welcome to Tabulator </h1>

    <h2>Turn video of guitar playing to tabs</h2>
      <video controls width="860" class="video">

        <source src="{{ url_for('static', filename= 'video.mp4' )}}"
                type="video/mp4">

        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
      
      <form class="form" action="/downloadTab" method="post">
        <textarea name="tabs" type="text" cols="105" rows="18">{{ content}}</textarea>
      <div>
        <button class="buttonLeft">Download</button>
        <a style= "text-decoration: none;" href="{{ url_for('index') }}" class='buttonReturn'>Return</a>
      </div>
        </body>
      </form>
</html>